@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600&display=swap");
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');

:root {
	--highlight-color: #d7ecd9;
	--highlight-color-dark: #b0d9b5;
	--highlight-color-darkest: #80c088;

	--gray: #303030;

	--sans-font: "Source Sans Pro", sans-serif;
	--serif-font: "Source Serif Pro", serif;
	--mono-font: "Source Code Pro", monospace;
}

body {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	max-width: 80vw;
	margin: 5vh auto 50vh;

	line-height: 1.5;
	overflow-x: hidden;
}

#nav {
	width: 15%;
	max-width: 8em;

	transition: margin-left 0.5s;
}

#nav a, #nav a:visited {
	display: block;

	font-family: var(--sans-font);
}

#nav a:hover, #nav a:focus {
	font-weight: bold;
}

#main {
	display: block;
	width: 48em;
	font-family: var(--serif-font);

	transition: margin-left 0.5s;
}

#main h1 {
	margin-top: 0px;

	font-weight: normal;
	font-size: xx-large;
}

#main h2 {
	font-family: var(--sans-font);
	font-weight: bold;
	font-size: x-large;
}

#main blockquote {
	color: var(--gray);
}

#main p a, #main p a:visited {
	background: linear-gradient(180deg, rgba(255, 255, 255, 0) 65%, var(--highlight-color) 35%);
}

#main p a:hover, #main p a:focus {
	background: linear-gradient(180deg, rgba(255, 255, 255, 0) 65%, var(--highlight-color-dark) 35%);
}

#main p a:active {
	background: linear-gradient(180deg, rgba(255, 255, 255, 0) 65%, var(--highlight-color-darkest) 35%);
	display: inline;
}

#main img {
	display: block;
	margin: 1em auto;
}

#main a:hover, #main a:focus {
	background: linear-gradient(180deg, rgba(255, 255, 255, 0) 65%, var(--highlight-color) 35%);
}

#main a:active {
	background: linear-gradient(180deg, rgba(255, 255, 255, 0) 65%, var(--highlight-color-dark) 35%);
}

#main .blog-date {
	float: right;

	color: var(--gray);
	font-family: var(--sans-font);
	font-size: medium;
}

a {
	text-decoration: none;
	color: black;
	font-size: medium;
}
